<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715503571183-gc1pt4k8nksnrbmgb5hsmigdo86dqh4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715503571183-gc1pt4k8nksnrbmgb5hsmigdo86dqh4r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715503571183-i4mct9jajdfvu1u4pmho5k5a0l1879vs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUwqikOLpnshZvkxIAqud-gx_AyyX4HlU</string>
	<key>GCM_SENDER_ID</key>
	<string>715503571183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dice.geotracker</string>
	<key>PROJECT_ID</key>
	<string>geotracker-my</string>
	<key>STORAGE_BUCKET</key>
	<string>geotracker-my.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715503571183:ios:29ab1845a64bbef7a70b1a</string>
</dict>
</plist>